node_modules/
dist/
coverage/
*.log
.DS_Store
.env
.env.*
!.env.example
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.tfvars
*.tfvars
!example.tfvars
.azure/
local.settings.json
